[2016-12-11 09:56] joostschouppe opened #2 "Include Meetup calender"
Maybe with: http://embed.ly/provider/meetup

[2016-12-11 09:59] joostschouppe opened #3 "Make contribution easy"
Add documentation for total newbies

[2016-12-11 16:21] MarcBessieres opened #15 "add javascript to automatically select the language based on browser preference"

[2016-12-11 16:22] MarcBessieres opened #16 "pagination for the blogs"
Have a maximum number of posts per page

[2016-12-11 16:22] MarcBessieres opened #17 "language switch should go to the same page"
currently it goes to the main page of the new language

[2016-12-11 16:24] MarcBessieres opened #18 "finish the formatting of the blog entries"
currently most of the blog entries only have just been imported without any formatting

[2016-12-11 16:25] MarcBessieres opened #19 "add more organistion to link"
add links to hot, missing maps, maptime...

[2016-12-11 16:25] MarcBessieres opened #20 "Rekeningnummer text overlaps with bank account number"

[2016-12-11 16:26] MarcBessieres opened #21 "seo (optimisation)"

[2016-12-11 16:27] MarcBessieres opened #22 "add project links to wiki"
add the on going projects we have
add links to their wiki pages like the GRB import

[2016-12-11 16:27] MarcBessieres opened #23 "add github link for feedback"

[2016-12-11 17:46] #20 closed

[2016-12-12 14:50] xivk commented on #2
Leaving this issue open, but suggested for now to:

- [ ] Add a social media widget, including twitter, facebook group and meetup.

We can move faster this way to get the website published.

[2016-12-12 16:23] #23 closed

[2016-12-12 16:37] jbelien commented on #19
Probably best to link to our Maptime chapter : http://maptime.io/belgium :)

[2016-12-12 16:37] jbelien commented on #15
Doesn't work for me, redirected to /nl but my browser is in French.
I'll have a look :)

[2016-12-12 17:47] #19 closed

[2016-12-12 18:07] MarcBessieres commented on #17
For me it doesn't work, it seems that "website" is missing in the URL, but maybe this is an artefact of github.io

for example on:
https://osmbe.github.io/website/2016/10/14/nl-motm-sus-vhv.html
clicking on fr points to:
https://osmbe.github.io/2016/10/14/fr-motm-sus-vhv.html
instead of
https://osmbe.github.io/website/2016/10/14/fr-motm-sus-vhv.html

See the missing website before the date
But is

[2016-12-12 18:16] MarcBessieres opened #24 "add a copyright mention, to a Creative Commons licence I presume"
I believe we should add a CC licence to our site

I see that the OSM wiki is CC BY SA 2.0
I know there is a version 4.0 but I must admit I don't know the differences

[2016-12-12 18:37] jbelien commented on #16
Well pagination + multilanguage will probably be a pain in the ass with the system of multi-language we chose...

I'm searching for the best way to handle multi-language.

[2016-12-12 18:42] #15 closed

[2016-12-12 19:42] #17 closed

[2016-12-12 19:44] jbelien commented on #17
Sorry for he mess in the commits >_<

[2016-12-12 20:25] jbelien commented on #24
I do not think license is needed on the website.

License is available in the repository : https://github.com/osmbe/website/blob/master/LICENSE.txt

[2016-12-12 20:28] jbelien commented on #2
Do you want to add a new page with Twitter, Facebook, Meetup ?

[2016-12-13 09:07] xivk commented on #2
I mean something like this:

http://jquery-plugins.net/ridiculously-responsive-social-sharing-buttons

Tiny buttons that with just the icons. I would postpone all the event-calendar stuff for after the website launch.

[2016-12-13 09:09] xivk commented on #16
The blogposts translate as long as they have the same file name except for the language tag. I would just ignore this related to pagination. Maybe even just jump to page 1 when switching language?

[2016-12-13 09:10] xivk commented on #18
The blogposts translate as long as they have the same file name except for the language tag. So we need to check for each post:

- [ ] Do the posts in different languages have the same filename.

[2016-12-13 09:17] xivk commented on #24
- [ ] footer_fr needs some love, translate license line to french!

[2016-12-13 09:23] xivk commented on #17
- [ ] We need to revert the 'website' path once the site is on the osm.be domain.

[2016-12-13 14:24] jbelien commented on #17
Indeed :)

[2016-12-13 15:09] xivk opened #25 "add a page about how OSM.be is organized and who sponsored"
Add something like this:

http://osm.be/nl/organization

Also update text about OKFN

Basically:

OSM België & OKFN

(logo here)

OpenStreetMap België werkt samen met de Open Knowledge Foundation Belgium (OKFN Belgium). OSM BE werkt als een werkgroep binnen OKFN België. osm.be  osm.be is de verzamelnaam voor alle leden van de OpenStreetMap-gemeenschap in België. De gemeenschap organiseert verschil

[2016-12-14 17:49] xivk commented on #18
Posts todo:

- [ ] osm-be open
- [ ] okfn
- [ ] ben laenen
- [ ] 2014-11-23-nl-missing-maps-mapathon
- [ ] 2014-11-23-nl-missing-maps-mapathon
- [ ] 2014-12-01-en-motm-guy-vanvuchelen
- [ ] 2015-01-01-en-motm-guy-roman
- [ ] 2015-03-02-en-motm-brecht-bonne
- [ ] 2015-03-20-en-motm-pierre-parmentier
- [ ] 2015-03-31-en-motm-josefien-and-ruben
- [ ] 2015-05-05-en-motm-brice-maron
- [ ] 2015-06-02-fr

[2016-12-15 20:58] MarcBessieres commented on #24
Done (I hope :)

[2016-12-15 20:58] #24 closed

[2016-12-19 20:12] MarcBessieres commented on #18
doing them also in parallel

[2016-12-19 20:15] MarcBessieres opened #26 "The title of the blog post could have the blog post name"
Currently in the browser title for the blog post one can see OpenStreetMap Belgium/België/Belgique according to your language.

It could also in addition contain the title of the blog post like:
Mapper of the month: Brecht Bonne

[2016-12-23 11:38] MarcBessieres commented on #18
I reviewed them, I think :)
but there have been problems for a few days in the generation of the web page. I don't know how to find the error, may be some help is available or I can check next week.

By the way, there is no uniformity in the way the questions are highlighted, nor how is the formatting of the first paragraph( often italic but not always). Shall we make it all the same?

[2016-12-24 11:51] Jorieke commented on #18
I think @xivk solved the issue with the generation of the web page. Apparently I did something wrong somewhere ;-)

On the formatting, yes let's try to do it all the same. I propose:
- first paragraph in Italic
- questions and onther interviewer remarks in bolt; so with the two little stars before and after the question

[2016-12-24 11:52] Jorieke commented on #18
Damn I closed the issue, that was not what I wanted :-p

[2017-02-07 17:39] joostschouppe commented on #3
Basics already in place

[2017-02-07 17:39] #3 closed

[2017-02-08 08:03] joostschouppe opened #29 "Rethink "Join" page"
Now it says: "Join OpenStreetMap Belgium and support us. We will keep you up-to-date on events, news and ongoing projects!"

I think we should clarify here who we would like to "join" (i.e. become member), and what do we expect of them. There should be a much more clear distinction from "signing up for updates".

So I'd suggest something like this:

"
Do you want to join our community? Check out o

[2017-02-08 09:13] jbelien commented on #29
I totally agree !

Maybe we can now already separate

- the communication channels (meetup, twitter, mailing list, ...)
- the newsletter subsciption
- the membership

For the membership page/section, I would only mention the fact it's not "possible" at the moment but we are working on becoming an official chapter.

[2017-02-08 10:10] joostschouppe opened #30 "Invite people to "become a leader""
See **https://web.archive.org/web/20160421060446/http://osm.be/nl/content/take-lead**

[2017-02-10 12:35] joostschouppe commented on #29
Join ONLY about membership, but automatic subscription to newsletter
Separate page for newsletter subscription only

[2017-02-10 12:36] joostschouppe opened #31 "Project pages shouldn't appear in Blog-roll"
They do in the Dutch version!

[2017-02-10 16:01] jbelien commented on #31
They do in the French version too !
I will fix it this evening :)

[2017-02-10 17:53] #31 closed

[2017-02-15 16:52] joostschouppe opened #32 "add (google) analytics"
Or maybe we've already done that?

[2017-02-16 10:46] jbelien commented on #32
Not that I know of :)
Do we laready have an Google Analytics account ?
I just need the tracking code (something like UA-********-*)

[2017-02-16 10:57] joostschouppe commented on #32
Found it!
UA-38576399-2

[2017-02-16 11:15] jbelien commented on #32
Perfect ! I'll take care of that tonight :)

[2017-02-18 20:00] jbelien commented on #32
Done !

[2017-02-18 20:00] #32 closed

[2017-03-20 17:51] jbelien commented on #29
I think the new registration form closes this issue :)

[2017-03-21 08:29] joostschouppe commented on #29
Yep :)

Feel free to merge to main

[2017-03-21 08:29] #29 closed

[2017-03-27 09:45] jbelien commented on #2
Created http://calendar.osm.akoo.ovh/ : calendar based on Maptime Belgium (and updated automatticaly).
Will create a new page in the website (`develop` branch) to inlcude the calendar.

[2017-04-03 07:05] joostschouppe opened #35 "include links to interviews in the mapper of the month project page"

[2017-04-03 07:10] joostschouppe commented on #35
that was easier than I thought :)

[2017-04-03 07:10] #35 closed

[2017-04-06 08:05] joostschouppe commented on #22
done for the Road Completion project

[2017-06-16 15:05] jbelien opened #37 "Rethink structure to enable pagination"
Due to actual directory structure (`en`, `nl`, `fr`) it's not possible to enable pagination (and probably other plugins).

What do you think if I change the directory structure the same as I did for the company I work for website ?
See https://github.com/geo6/website and https://geo6.be/

I do not intend to change anything in the resulting website, the pages, the posts, everything stays just as it

[2017-06-16 15:09] jbelien commented on #16
See #37

[2017-06-16 15:10] #2 closed

[2017-06-16 15:11] xivk commented on #37
This is fine for me... it's clearly an improvement.

[2017-06-17 09:04] jbelien commented on #37
Ok, I put that on my to do list 👍

[2017-06-17 14:46] jbelien commented on #37
Work in progress in branch `structure`.

[2017-06-19 12:40] jbelien commented on #18
@MarcBessieres @Jorieke

May I close this issue ? Could you confirm that the work is done ?

Thanks :)

[2017-06-19 16:56] jbelien commented on #37
You can see the restructured website here : http://147.135.133.184/

[2017-06-20 09:03] jbelien commented on #22
I suppose the wiki page you are talking about is https://wiki.openstreetmap.org/wiki/WikiProject_Belgium

@joostschouppe I remember we struggle to add the Road completion project to the "WikiProject Belgium" green box ; do you remember how you did it ?

[2017-06-21 06:33] joostschouppe commented on #22
I think just manually add it here:
https://wiki.openstreetmap.org/w/index.php?title=Template:WikiProject_Belgium&action=edit

[2017-06-22 19:21] jbelien commented on #26
Fixed by 4f01cd3038a0c010adf6d90b41ce5f7472f02ae2

[2017-06-22 19:21] #26 closed

[2017-06-22 19:28] jbelien commented on #21
See https://github.com/jekyll/jekyll-seo-tag
I will take care of it begin of July :)

[2017-06-22 19:33] jbelien commented on #16
Apparently that's not possible to handle pagination with mutliple languages without something like https://github.com/scandio/jekyll-paginate-multiple but that plugin is not enable in GitHub pages (see https://pages.github.com/versions/).

The issue is that pagination count **every** post/pages without taking the language into account ; then you have "empty" pages.

There is probably a solution bu

[2017-06-22 19:35] jbelien commented on #37
New structure is ready but it's not possible to enable pagination (see https://github.com/osmbe/website/issues/16#issuecomment-310479962).

I'm waiting for green light to merge it into `master` :)

[2017-06-22 19:36] jbelien commented on #37
**Note for myself :** do not forget to add

[code]

[2017-06-28 09:45] #37 closed

[2017-06-28 09:45] #18 closed

[2017-06-28 09:47] #16 closed

[2017-06-28 11:20] #21 closed

[2017-09-09 12:01] joostschouppe opened #39 "add a page about the tasking manager"
Some inspiration from @jbelien:

The Task Manager is running behind Apache server so it runs on his own now !

The "new" link is http://tasks.osm.be/

Feel free to play around and do not fear to break it ! If it happens, contact me, I'll check what went wrong :D
And feel free to share the link with anyone of course.
You're an administrator so feel free to upgrade user accounts if needed, or delete

[2017-09-09 12:02] joostschouppe opened #40 "write a blog about "being first""
To create something more permanent based on texts like these:

https://mensuel.framapad.org/p/A11-OSM-BE-mail-c3rjvQyvMz

[2017-09-09 12:03] joostschouppe opened #41 "create a page about mapathons"
Draft:
https://paper.dropbox.com/doc/OSMbe-Mapathon-Support-psvxUqWnvTXC9yi80zOfz

[2017-10-26 06:07] joostschouppe commented on #40
Done!

[2017-10-26 06:07] #40 closed

[2018-01-12 20:10] timcouwelier opened #42 "Directing more people towards the Riot/Matrix channel"
As one of the 'newbies' around, an argument was raised about how it's not overly easy to actually find the Riot channel, where a lot of the core activity is going on / being discussed.

I would like to propose a **direct invitation link to the channel being posted on the front page of osm.be,** and possibly additionally a basic 'how to' on Riot, and detail on why Riot was chosen as an open source

[2018-01-12 20:17] timcouwelier opened #43 "'Knowledge archive' page"
In under a week within the riot channel, I've seen a ton of usefull pages being linked, on a variety of subjects. I'm covering it now through a series of bookmarks, but a page bundeling an afwul lot of helpfull pages / scripts / .. could be significant added value.

This could contain - without limiting it to the following list - things like:
- Mapillary as a data source / how to contribute to it

[2018-01-14 15:15] jbelien commented on #42
Hey @timcouwelier ,

I think that's indeed a good idea to add a link to the Riot channel on osm.be homepage as Riot is now our main way to discuss ! 👍

I'll take care of that.

[2018-02-03 09:36] joostschouppe opened #44 "Add Riot community page"
I'd like to add this to the main page, right underneath our community e-mail address.. Is that OK?
 Or better in another place?

Chat channels - https://riot.im/app/#/group/+osmbe:matrix.org

[2018-02-08 20:10] jbelien commented on #44
I propose to add a small insert just above the tweets feed with a small text about Riot and the link to https://riot.im/app/#/group/+osmbe:matrix.org

But also a link to https://forum.openstreetmap.org/viewforum.php?id=29 !

[2018-02-08 20:11] jbelien commented on #42
Duplicate with #44

[2018-02-08 20:11] #42 closed

[2018-02-08 20:14] jbelien commented on #39
Tasking manager (http://tasks.osm.be) will be decommissioned in a few days.

I'll close this issue (for the moment).

[2018-02-08 20:14] #39 closed

[2018-02-09 08:39] joostschouppe commented on #42
@timcouwelier l really like the idea of a sticky on the forum. I'm looking into it with Escada. I'd like to put a more general message there about OSM Belgium, obviously with the link to Riot.

[2018-02-10 09:26] xivk opened #45 "update ok-be address"
update ok-be address, is now BE central

[2018-02-10 10:28] #45 closed

[2018-02-10 10:43] jbelien commented on #44
I added the insert on the homepage.

Could you list "all" the communications channel we have ? XD

- Riot : https://riot.im/app/#/group/+osmbe:matrix.org
- Forum : https://forum.openstreetmap.org/viewforum.php?id=29
- community@osm.be
- talk-be@openstreetmap.org
- ... ?

[2018-02-28 10:49] joostschouppe commented on #44
Twitter!
Facebook: https://www.facebook.com/groups/1419016881706058/
Meetup!

That's it?

[2018-02-28 11:34] jbelien commented on #44
Okay, I'll add a page with all those links when I have a bit of time available :)

[2018-03-03 16:13] joostschouppe commented on #43
I like the idea, but I'm not sure how we can do this. Basically, it sounds like a front page to wiki.osm.org. And hence it has the potential to grow indefinitely. I think something on mapillary, overpass, wms etc would be great blog posts; but it's also you want to keep in the spotlight over longer term. It doesn't really fit in the "projects" page either, as those tend to be bigger. Maybe just a

[2018-03-05 08:07] timcouwelier commented on #43
Now nearly two months later, I pretty much see it as an extented version of the belgian subforum sticky.
Mainly referencing tools, data sources and communication channels, with some of them eventually to be elaborated on through a series of blog posts.

I will agree one can wonder to what extent we need to do this at a 'belgian' level rather then indeed just working on the global wiki.
A 'Mapillar

[2018-03-12 20:55] #44 closed

[2018-03-13 15:46] joostschouppe commented on #43
Tim expanded on this idea by e-mail, I'll post the gist of it here: a page with "small projects" you could do. Like map everything with mapillary, keep track of your edits for road surfaces, landuse, speed limits with nifty overpass-turbo queries etc.

[2018-03-14 10:19] jbelien opened #47 "Switch to HTTPS"
More and more website are switching to HTTPS (mostly thanks to [Let's Encrypt](https://letsencrypt.org/)) and I think it's time for us too :)

**But** it means that we can't use osm.be hosted by GitHub Pages anymore ; unfortunately GitHub Pages does not allow (yet ?) to have our own domain name (osm.be) and HTTPS.

I see (at the moment) 2 solutions :
- Use https://osmbe.github.io/website and redir

[2018-05-02 08:34] prmtl commented on #47
Hi!
I'm just passing by, so sorry if I do not know all the details.

I just want to show you all another option. This page can still be hosted on GitHub Pages and have SSL enabled. It is possible if domain will be "delegated" to CloudFlare. In short words, CloudFlare is offering free SSL similar to LetsEncrypt. Here is a guide: https://blog.cloudflare.com/secure-and-fast-github-pages-with-cloudfla

[2018-05-02 10:40] jbelien commented on #47
@xivk :

Can you update the IP address behind osm.be domain name according to https://help.github.com/articles/setting-up-an-apex-domain/#configuring-a-records-with-your-dns-provider so I can enable HTTPS on osm.be ?

Thanks :)

[2018-05-02 10:42] prmtl commented on #47
Great! 🎉 Good to know :D

[2018-06-03 19:04] jbelien commented on #47
Still not possible to enable HTTPS and I don't really get why ...

[2018-06-04 19:19] xivk opened #48 "Remove Google Analytics"
I think we should remove google analytics, for various reasons. Anyone know of alternatives that can also be useful?

[2018-06-05 07:29] jbelien commented on #48
I did the same on all of my website last weekend :P

I found this article who has some "leads" : https://opensource.com/article/18/1/top-4-open-source-analytics-tools
But is it really necessary to "track" those kind of analytics on our website ?

[2018-07-18 14:32] joostschouppe opened #49 "contact page should be outside-oriented, not community oriented"
The current page http://www.osm.be/contact.html shows ALL the channels. This page should primarly talk to people who are not in the community yet. So it should focus on community@osm.be in th first place. Maybe the other channels need to go somewhere else?

[2018-07-18 14:54] jbelien commented on #49
The easiest way (and the way I would choose) is to add a paragraph **before** the `iframe` containing all the channels.

If you have already an idea about the text you would like to see, feel free to post it here or edit the following files :
- https://github.com/osmbe/website/blob/master/contact.html
- https://github.com/osmbe/website/blob/master/contact-fr.html
- https://github.com/osmbe/website

[2018-07-18 14:56] jbelien commented on #47
I (finally) could enabled the HTTPS here on GitHub pages 🎉

[2018-07-18 14:56] #47 closed

[2018-07-27 15:06] joostschouppe commented on #49
Fixed in the three languages!
The lay out might be improved though

[2018-07-27 15:06] #49 closed

[2018-07-31 08:15] joostschouppe opened #50 "add that we are a local chapter"
At the footer of the page it currently says: We are a working group and part of Open Knowledge Belgium

That should probably become: We are a working group and part of Open Knowledge Belgium and a Local Chapter (1) of the OpenStreetMap Foundation (2).

link 1: https://wiki.osmfoundation.org/wiki/Local_Chapters
link 2: https://blog.openstreetmap.org/about/

I couldn't find the page where this is de

[2018-07-31 13:02] #50 closed

[2018-07-31 13:04] jbelien commented on #50
Done ! 😃

The footer information are in the files `footer-*.html` in the directory `_includes`.

[2018-07-31 14:00] joostschouppe commented on #48
I'd like to have basic statistics available, but it doesn't need to be awesome.

[2018-07-31 15:30] jbelien commented on #48
@joostschouppe What kind of statistics do you need, so we can try to find an (open-source) replacement to Google Analytics ?

[2018-07-31 16:45] marcu commented on #48
We have piwik / matomo. It works well.

On 31 July 2018 at 17:31, Jonathan Beliën <notifications@github.com> wrote:

--
et en avant pour de folles aventures...

[2018-07-31 20:04] jbelien commented on #48
Yes sure but we'll have to host (and maintain) it ourselves.
Seems a bit too much work for just some basic statistics about one website 😕

[2018-07-31 20:28] joostschouppe commented on #48
Let's not do that. If there is no simple way to it, then maybe we can do a
public call to find someone that will provide this for us?

[2018-08-01 10:25] jbelien opened #52 "Remove Google Fonts"
In the same idea as #48 , let's get rid of Google products for our beautiful website !

[2018-08-03 17:03] xivk opened #53 "Add a donate button"
Can we figure out a quick and simple way to add a donate button to the website?

I'm financing everything personally still and we need a (small) provable source of income to move those services under the Open Knowledge Belgium umbrella.

This doesn't need to be perfect, just simple...

When we have this I can just start donating whatever expenses there are now via the new system and we can move al

[2018-08-04 10:03] jbelien commented on #53
As you may know, I started working on an app for OpenKnowledge Belgium based on [Stripe](https://stripe.com/be) ; unfortunately, I'm stuck and I think I won't be able to finish it (not enough time).

Here are some solutions that look interesting :
- PayPal : https://www.paypal.com/be/webapps/mpp/charity
- Stripe Checkout : https://stripe.com/checkout (see [Pricing](https://stripe.com/be/pricing))

[2018-08-04 10:04] jbelien commented on #53
And I think we should keep OpenKnowledge Belgium in this loop because they are looking for something like this as well.

[2018-08-04 10:28] xivk commented on #53
Thanks @jbelien cc @Driesvanransbeeck

[2018-08-04 15:59] rustyb commented on #53
Hi Folks - I had a crack at making an donation page for the website. Something I've had to do for work recently, and it's really not too hard if we want to keep it super simple for the interm.

Using stripe checkout i've created a page to allow you to choose an amount to donate and then pay by card -> https://github.com/rustyb/website/blob/stripe/donate.html

Choose an amount and click donate:
<im

[2018-08-05 12:30] jbelien commented on #53
That's awesome ! Thanks a lot @rustyb ! 🎉

I have access to OpenKnowledge Belgium Stripe account, I'll try to set it up and include in our website (for testing at first) in the next days.
I think we can safely say that we won't have more than 1 donation per second, so we can use https://webtask.io ; worst case, I can host it on my server that also hosts https://calendar.osm.be and https://members.

[2018-08-05 13:15] #52 closed

[2018-08-05 13:44] rustyb commented on #53
Good stuff 😄 I'm pretty sure we won't go over the 1 donation per second threshold. @jbelien if you run into any trouble let me know.

@xivk As for dealing with monthly donations this is also possible through stripe's `billing` service. Basically just requires a minor modification to the flow when processing the payment.

**Currently it goes like this:**
1. user inputs cards details into checkout
2

[2018-08-05 13:51] xivk commented on #53
OK, thanks *a lot* @rustyb for helping out and @jbelien for having another go at it, let's start with the regular one-time donations then and move on from there.
See also here: https://github.com/osmbe/community_planning/issues/3

[2018-08-11 15:09] jbelien commented on #53
Okay, I succeeded to make the single donation work : charge the credit card and send the money to OpenStreetMap Stripe sub-account (under OpenKnowledge account).

**but** I always have this error message from my webtask (and so I can't display the success message on my page) :

[code]

@rustyb Any idea what's wrong in my code :

[code]

[2018-08-11 15:18] jbelien commented on #53
You can see the result (**work in progress**) here : https://jbelien.github.io/website-osmbe/donate.html

[2018-08-11 16:18] jbelien commented on #53
Single donation is working : https://jbelien.github.io/website-osmbe/donate.html

For now, it uses my Stripe account and an OpenStreetMap test sub-account (exactly as it would work under OpenKnowledge account).

You can try with your credit card, it's in **test** mode so your card won't be charged but you can also use [Stripe test cards](https://stripe.com/docs/testing).

[2018-08-11 16:19] jbelien commented on #53
Here is the webtask code :
[code]

[2018-08-12 09:57] jbelien commented on #53
OpenKnowledge Belgium already has a Stripe account and I have access to it.
I have to create a OpenStreetMap Belgium "sub-account" with [Stripe Connect](https://stripe.com/connect). I'll have a look in the next few days ; just to be sure it's done properly and what kind of information do we need for the sub-account (person in charge, ...).

[2018-08-12 10:47] xivk commented on #53
I don't know Stripe very well? I guess a sub-account means we can have an overview of what we receive and from who easily and that this is separate from the rest of the 'accounts'?

I guess you can add my personal info or perhaps @Driesvanransbeeck knows more about this...

[2018-08-16 07:03] xivk commented on #53
Let's finish this off, and come up with a piece of text to put on top?

- [ ] English text about donations.
- [ ] Dutch text about donations.
- [ ] French text about donations.

Do we put a button on the frontpage?

[2018-08-16 07:33] xivk commented on #53
English:

[2018-08-16 08:53] jbelien commented on #53
We can do that of course ;
And by default, there will be a "Donate" in the main menu (we can choose the order but I would put it last so it's more visible)

[2018-08-16 08:57] xivk commented on #53
I'm not sure about the donate menu... we already have a bunch of menu items (Home, News, Join, Projects, Calendar, Contact). Perhaps a donate button that links to /donate without a direct menu item?

[2018-08-16 09:54] jbelien commented on #53
I can do that too, no problem 😄

We have to think where to put that donate button on the homepage then ...
It has to be as visible as possible but not aggressive.

[2018-08-16 10:47] xivk commented on #53
Below have a question and above the tweets:

![image](https://user-images.githubusercontent.com/1128068/44204355-1bbfb300-a14a-11e8-833f-b50b8f5c30a8.png)

[2018-08-16 10:47] xivk commented on #53
That's what I was thinking :-)

[2018-08-16 10:49] jbelien commented on #53
Seems good to me 👍

I'll try to move further on this ASAP 😃

[2018-08-27 19:54] jbelien opened #56 "Get https://osm.be/ and https://www.osm.be/ to work"
GitHub Pages is configured for `www.osm.be` and so http://www.osm.be/ and https://www.osm.be/ work perfectly.

http://osm.be/ is currently redirected to https://www.osm.be/

**BUT** if we request https://osm.be/ there is (of course) a SSL certificate issue.

What would be the best way to fix it ?

Idea :
------

1. Configure GitHub for `osm.be`  (https://osm.be/)
2. Host a simple redirection page

[2018-08-28 11:26] jbelien commented on #48
I ask around and [Matomo](https://matomo.org/) seems the "only" solution.
But I don't want to have to host it and [pricing](https://www.innocraft.cloud/#pricing) starts at 7.5EUR per month which I think is too much for us to pay right now.

Can we just remove Google Analytics for now (and enable statistics again when we have a solution or money) ?

[2018-08-28 11:26] jbelien commented on #43
Is it still something we want to add in our website or do we decide to use the wiki ?

[2018-08-28 11:27] jbelien commented on #41
I'll take care of this one in the next few days !

[2018-08-28 11:28] jbelien commented on #30
@joostschouppe Is it still something you want to add to the website ?

[2018-08-28 11:29] jbelien commented on #25
I think the footer of the website is enough.

@xivk do you still want to add a specific page about it ?

[2018-08-28 11:30] #22 closed

[2018-08-28 11:59] joostschouppe commented on #48
We could add something super simple like statcounter.com in the meanwhile?

[2018-08-28 12:00] joostschouppe commented on #30
Yeah, I kind of do. But I'll re-open it if ever I get around to work on this.

[2018-08-28 12:00] #30 closed

[2018-08-28 12:47] jbelien commented on #48
I didn't know http://statcounter.com/ ; I'll have a look :)

[2018-08-28 12:51] jbelien commented on #48
Could you copy-paste here the code (see http://statcounter.com/default/) ?

Thanks :)

[2018-09-11 15:32] jbelien commented on #56
Ping @xivk : any comment about my suggestion ?

[2018-09-12 07:29] jbelien commented on #56
First setting up `osm.be` to point to GitHub Pages : https://help.github.com/articles/setting-up-an-apex-domain/

Then setting up `www.osm.be`, `openstreetmap.be`, and `www.openstreetmap.be` to point to my server :
- IPv4 : `145.239.159.182`
- IPv6 : `2001:41d0:302:1100::a:c84`

It's the same IP that those for `members.osm.be`

[2018-09-18 15:10] jbelien commented on #56
I fixed http://calendar.osm.be/ and https://calendar.osm.be/ redirection.

[2018-09-24 13:57] jbelien commented on #56
DNS is now updated ! 🎉

- https://openstreetmap.be/ (REDIRECT)
- https://www.openstreetmap.be/ (REDIRECT)
- https://osm.be/
- https://www.osm.be/ (REDIRECT)

[2018-09-24 13:57] #56 closed

[2018-09-25 14:09] #53 closed

[2018-11-22 12:52] jbelien opened #64 "Calendar: Upcoming events"
Issue with the "Upcoming events" : since the page is generated by the last commit, the upcoming event list is wrong.

Need to use JavaScript to fix this !

[2018-12-01 10:52] #64 closed

[2018-12-10 21:38] timcouwelier opened #67 "Template page for using OSM-be tiles in a leaflet / openlayers map applet"
As suggested by Jakka in the Riot Channel:

We could use a code template, easily found on website, on how people can use the OSM-be tiles in a webmap (with attribution and all), with a demo on how to use a marker in the map.

A demo page + a code snippet where we mark what needs to be changed in order to make the code work for integration in a website (and possibly bundel all those variables in on

[2018-12-11 09:55] jbelien commented on #67
There is already:
- https://github.com/jbelien/openstreetmap-carto-be/wiki/OpenLayers
- https://github.com/jbelien/openstreetmap-carto-be/wiki/Leaflet
but I'll improve it !

[2018-12-11 11:12] timcouwelier commented on #67
I'd like to see a demo for a marker (+ text upon clicking the marker) included, as that's the key feature people would use it for?

[2019-01-03 18:21] jbelien opened #68 "Display future event"
I removed the `future: true` from `_config.yml` because it messes up https://blogs.openstreetmap.org/ : future event will always be displayed first which is not something we want.

Find a way to display future events without displaying those events in https://openstreetmap.be/feed.xml (or at least `published_date` should not be the date of the event) !

[2019-01-03 18:31] jbelien commented on #68
Using `date` should do the trick : https://jekyllrb.com/docs/front-matter/#predefined-variables-for-posts

[2019-02-16 14:27] jbelien commented on #41
Added in the new version of the website !
Preview : https://jbelien.github.io/osmbe-website/en/project/2017/09/09/project-mapathons.html

[2019-02-19 20:51] jbelien commented on #48
Maybe have a look at https://github.com/usefathom/fathom (thank @MichielLeyman)

[2019-03-03 14:16] jbelien commented on #41
Done: https://openstreetmap.be/en/projects/mapathons.html

[2019-03-03 14:16] #41 closed

[2019-03-23 11:40] joostschouppe opened #71 "Add a link to a map"
We should probably add a link on the frontpage for people who want to see some maps!

[2019-03-23 12:12] jbelien commented on #71
That's a good idea !

Only a link to https://openstreetmap.org/ ?
Or also a link to https://tile.openstreetmap.be/ ?
Something else ?

[2019-03-24 11:26] jbelien commented on #67
Hello @timcouwelier

I added a "HowTo" page on the website : https://openstreetmap.be/en/projects/howto.html
Feedback is welcome !

[2019-03-24 11:26] #67 closed

[2019-03-24 11:26] jbelien commented on #71
I created a "HowTo" page : https://openstreetmap.be/en/projects/howto.html

I added a "How to see the map" :P

[2019-03-31 13:32] #71 closed

[2019-03-31 13:33] #25 closed

[2019-04-01 10:44] jbelien opened #72 "Translation: NL: Homepage"
Page: https://openstreetmap.be/nl/index.html
File: https://github.com/osmbe/website/blob/master/nl/index.html

[2019-04-01 10:44] jbelien opened #73 "Translation: NL: Support page"
Page: https://openstreetmap.be/nl/support.html
File: https://github.com/osmbe/website/blob/master/nl/support.html

[2019-04-01 10:46] jbelien opened #74 "Translation: NL: Mapathons project page"
Page: https://openstreetmap.be/nl/projects/mapathons.html
File: https://github.com/osmbe/website/blob/master/nl/projects/mapathons.md

[2019-08-10 12:46] #72 closed

[2019-08-10 12:46] #73 closed

[2019-08-10 12:46] #74 closed

[2019-09-27 07:12] joostschouppe opened #79 "Image showing as text"
On pages like https://openstreetmap.be/en/2018/12/31/weekly-riot.html the name of the associated image appears above the text. This image is shown properly in the posts-overview.

[2019-09-27 07:13] joostschouppe commented on #48
@gplv2 has a Matomo instance up and running, and he would be happy if we used it. What do you think? Or is this something that Openknowledge Belgium already has by now?

[2019-09-27 08:11] jbelien commented on #48
Yes, OKBE is currently setting up its own.
I think it's easier/better to rely on OKBE instance.

[2019-09-27 08:18] #79 closed

[2019-09-27 09:24] MichielLeyman commented on #48
We set up a fathom server and experimented with it, but it only tracks pageviews, so it's quite limited in functionality right now. No funnel view, no custom events, ...

If you can use the Matomo instance, I'd recommend doing so until we find something we're happy with at OKBE

[2019-10-06 17:57] gplv2 commented on #48
I have a matomo installation ready and already used for grbtool ....

[2019-10-08 10:31] joostschouppe opened #82 "Add a way to comment on blog posts"
We used a neat little system at sotm 2016, I'll look it up

[2019-10-08 10:53] jbelien commented on #82
Aouch ... Really not sure it's a good idea :/

I understand why ... but it will require moderation (and could lead to quite a heavy work load).

[2019-10-08 10:55] jbelien commented on #82
I don't know what you used for SotM 2016 but I guess it was [Disqus](https://disqus.com/), [JustComments](https://just-comments.com/) or something similar.

[2019-10-08 10:57] joostschouppe commented on #82
Yes, we'd need to think about it properly. Maybe we can just do it for select articles? Especially for the latest blog post, I think it might be useful. Though an explicit contact link is also an option of course.

And yes, we used Disqus. I think the moderation queue there is pretty good

[2019-10-08 11:01] jbelien commented on #82
Also, if we implement Disqus (or other) to the website, because the free version use ads (and most probably tracking), we will fall under the EU Cookie Policy and we will have to add the whole "Accept the cookie" thing.

I was trying to avoid that :P

[2019-10-08 11:06] jbelien commented on #82
Other alternative to maybe have a look at : https://gohugo.io/content-management/comments/#comments-alternatives

[2019-11-19 07:28] mart-e opened #85 "Add RSS feed"
Hello,

I would like to subscribe to the list of events on https://openstreetmap.be/en/news.html
but it looks like there is no RSS feed.
Could you add one please?

Thanks

[2019-11-19 09:45] jbelien commented on #85
Hello @mart-e , here is the URL of the feed : https://openstreetmap.be/feed.xml

[2019-11-19 09:47] jbelien commented on #85
Hello @mart-e,

There is a feed available here: https://openstreetmap.be/feed.xml
But I just noticed the posts and events are indeed not in the feed ... Strange, I'll have a look ASAP !

[2019-11-19 10:05] mart-e commented on #85
Thanks!
Is this URL present in the interface? I did not found it on the main pages.

[2019-11-19 10:58] jbelien commented on #85
Probably not 🙄

[2019-11-23 13:48] jbelien commented on #85
I think I found the "issue".

It seems that the `jekyll-feed` plugin doesn't like my structure for the posts.
The main issue is that we have 3 languages and that Jekyll isn't built for such use case. There are some plugins that do the trick but they are [not supported by GitHub pages](https://pages.github.com/versions/).

So I don't have a solution at the moment but I'm definitely open to suggesti

[2019-11-24 12:36] mart-e commented on #85
I don't know jekyll but as I understand it, the posts in the feed are generated from
https://github.com/osmbe/website/blob/860900d3e73ea617419beb6d8513f50cccfef89e/feed.json#L21

and the problem is that `site.posts` does not contains the events, right?
Or do you wish to create one different feed per language?

[2019-11-24 13:59] jbelien commented on #85
You're right !
**But** you're talking here about the [**JSON** feed](https://openstreetmap.be/feed.json) and not the [**RSS** feed](https://openstreetmap.be/feed.xml).
My comments are related to the RSS feed (generated by the `jekyll-feed` plugin).

The JSON feed is indeed much more flexible since I generate it myself.

[2019-11-25 15:32] mart-e commented on #85
It seems that `jekyll-feed` supports generating feed for custom collections
https://github.com/jekyll/jekyll-feed#collections

Wouldn't adding
[code]
do the trick and, if I understand correctly, create a `feed/events.xml` feed?

I also found [this article](http://stories.upthebuzzard.com/jekyll_notes/2017-02-19-rss-feed-for-all-jekyll-collections.html) explaining how to generate a feed combining m

[2019-11-25 17:40] jbelien commented on #85
Interesting !
I'll give it a try 👍

[2019-11-25 17:50] #85 closed

[2019-11-25 17:51] jbelien commented on #85
Dear @mart-e you're totally right!

RSS feed for the posts is https://openstreetmap.be/feed.xml
RSS feed for the events is https://openstreetmap.be/feed/events.xml

Thank you! 🍾

[2019-11-25 18:25] mart-e commented on #85
Great, thanks for the update !

[2020-01-12 12:54] jbelien commented on #15
Landing page with redirect based on language is back: d41a986162c8c5a80050d7998fdb27e402b81e95

[2020-03-04 20:28] MichielLeyman commented on #48
OKBE now uses version 2 of Fathom analytics. Welcome to give it a try.
@jbelien ?

[2020-03-04 20:30] jbelien commented on #48
Yes, definitely!
If you could generate a tracking snippet and give us access to the statistics, that would be awesome! 🎉

[2020-03-04 20:42] #48 closed

[2020-03-04 20:50] jbelien commented on #48
Thanks a lot @MichielLeyman ❤️

[2020-03-08 07:44] jbelien opened #92 "Integrate OSMCal"
Suggestion by @joostschouppe and @thomersch:

Integrate directly on https://openstreetmap.be/ the feed from https://osmcal.org/ !
I like the idea because so far I have to copy the event on both our website + osmcal.org.

I think we could display the events on the ["News" page](https://openstreetmap.be/en/news.html) and the next event on the [homepage](https://openstreetmap.be/en/).

Any feedback ?

[2020-03-08 10:01] thomersch commented on #92
This sounds great. Lemme know how I can help.

[2020-05-16 20:50] jbelien commented on #92
I started working on the widget : https://github.com/jbelien/openstreetmap-calendar-widget

[2020-05-18 17:49] jbelien commented on #92
- [x] Events list
  - [x] Filter: `in`
  - [x] Limit
- [x] Events map
- [ ] Past events
  - [ ] List
  - [ ] Map
- [ ] Calendar

[2020-08-10 14:32] YorbenVerhoest opened #97 "Belgium baselayer with only names"
Greetings fellow belgians.

I am building an interactive map using leaflet and OSM, I am generating GEOJSON layers on top of my map of the communities of Belgium (see picture)

As you can see behind that, I load in a baselayer that display one names. But I don't want to show the items that falls outside of Belgium. is there any baselayer of only Belgium names?

![](https://i.stack.imgur.com/UPqf8.

[2020-08-24 09:07] joostschouppe commented on #92
Now all we need is some events!

[2020-09-23 15:07] joostschouppe opened #101 "three related projects"
https://openstreetmap.be/en/projects.html has https://openstreetmap.be/en/projects/howto.html
These pages should probably not be top level projects?:
https://openstreetmap.be/en/projects/howto/leaflet.html
https://openstreetmap.be/en/projects/howto/openlayers.html

[2020-09-23 16:14] jbelien commented on #101
Yeah, I noticed that a few days ago.

Since, it's "sub-pages", the 2 following pages should not appear on the main project page:
- https://openstreetmap.be/en/projects/howto/leaflet.html
- https://openstreetmap.be/en/projects/howto/openlayers.html

Thanks for the reminder!

[2020-09-24 07:23] #101 closed

[2020-10-05 20:02] jbelien opened #112 "Add next event on homepage"

[2020-10-07 15:57] #112 closed

[2020-10-18 06:55] hgcvm opened #113 "On contact page, link to element.io instead of riot.im"
On contact page, link to element.io instead of riot.im
(low priority)

[2020-10-18 07:17] jbelien commented on #113
Hello @hgcvm , you're right.
Our contact page is using https://community.osm.be/resources/europe/belgium (connected to [OSM Community Index](https://github.com/osmlab/osm-community-index)).
There is already an issue open to fix that : https://github.com/osmlab/osm-community-index/issues/366
We need to wait for that issue to be fixed and then for a new OSM Community Index release.

[2020-10-18 07:24] jbelien commented on #113
PR created: https://github.com/osmlab/osm-community-index/pull/375

[2020-10-30 16:55] jbelien commented on #113
Fixed with the release of version 2.1.2 of OCI (https://github.com/jbelien/oci-viewer/pull/251)

[2020-10-30 16:55] #113 closed

[2021-04-12 06:10] jbelien commented on #82
https://utteranc.es/ could be a solution too (see https://danyow.net/using-github-issues-for-blog-comments/).

Would even be better to use https://docs.github.com/en/discussions (Utterances doesn't support it - yet ?) !

[2021-05-15 13:46] jbelien commented on #82
See https://github.com/laymonage/giscus

[2021-06-12 08:41] joostschouppe opened #129 "Reference to membership and board is kind of missing"
Suggestion: on https://openstreetmap.be/en/ , add a section "Our organization", with:
- a link to the bylaws
- a link to the membership
- a link to our yearly summary of activities
- names and bios of the current Board

[2021-06-12 08:47] jbelien commented on #129
Definitely a good point ! 👍

I think it indeed makes sense to add this on the "homepage" (= "About us" page).
I would keep it "summarized" though (same size as the "Our Community" and "Our mission" sections).

[2021-06-12 08:49] jbelien commented on #129
For reference (when I add the section):
- Bylaws: <https://github.com/osmbe/working-group-bylaws/blob/master/CONSTITUTION.md>
- Membership: <https://members.osm.be/view/members>
- Annual report (https://openstreetmap.be/en/2021/06/11/annual-report-2020.html) + Financial report (https://github.com/osmbe/working-group-bylaws/blob/master/financial/2020.md)

[2021-06-18 14:46] joostschouppe opened #130 "Remove current "partners""
To be replaced with our new corporate members.

[2021-06-18 16:04] joostschouppe commented on #130
@jbelien was waaaay ahead of me

[2021-06-18 16:04] #130 closed

[2021-07-01 10:14] joostschouppe opened #133 "OSMbe projects: GRB, and building in general"
Let's make a Project page for the building import.

## Towards full coverage of buildings in Belgium

Lots of manual work, but also re-using the work of our regional governements

### Brussels

- Early import
- How is it maintained?

### Flanders

- Download GRB + Also using addresses from CRAB > 2-in-1!
- Magic by @gplv2: fix overnoding, form "generic building" to a guesstimate of building type,

[2021-07-01 12:01] gplv2 commented on #133
- more than just buildings :  bridges , waterworks
- peer reviewed
- true community effort: often discussed in dedicated chat channel

[2021-07-13 07:42] joostschouppe opened #136 "Corporate Membership"
Replace:

Partnerorganisaties

Word deel van onze community en ons netwerk. Bezoek ons ook op GitHub.

With:

Corporate Members

Deze organisaties steunen OpenStreetMap Belgium:

https://geo6.be/assets/images/logo-full.png
https://www.anyways.eu/ (the logo is an svg within the html)

[2021-07-18 11:57] #136 closed

[2021-12-15 19:29] joostschouppe opened #153 "Explain more about community@osm.be"
- there is no community@osm.be "procedure" to join - could be simply: "ask the board"
 - we kind of like the concept, so writing about it would be nice
So let's add a blog post (or perhaps even a "project"?) on the topic

[2022-01-01 17:37] joostschouppe commented on #133
Also put the links to the code, not just in the article but also here on Github and perhaps on the wiki as well (if not there yet)

https://github.com/gplv2/grb-postgis  -> GRB/PICC/URBIS naar postgis database voor API
https://github.com/gplv2/aptum.github.io  -> CRAB tool
https://github.com/gplv2/grb2osm -> addressing programma
https://github.com/gplv2/grbtool/tree/dataexports  -> huidig code van

[2022-01-01 18:10] gplv2 commented on #133
https://github.com/gplv2/grb-mapcss -> MAPCSS voor josm merge work

[2022-01-01 18:11] gplv2 commented on #133
https://dataviewer.grbosm.site/ -> dataviewer (OLD , mother of the GRB2OSM idea but still working)

[2022-01-09 18:52] gplv2 commented on #133
Brussels is challenging :
- ref:Urbis is present (which is good) but the version of the building is missing, which would enable us to pick up updates.  GRBTool would be able to compare ref:Urbis in OSM to Urbis database.
- Using a lot of AssociatedStreet relations, we need some consensus on what we'll have to do with those, personally I don't like them, they are maintenance heavy and are often inc

[2022-01-23 14:15] joostschouppe commented on #129
Extra relevant now that the Board changed :)
I've created https://github.com/osmbe/working-group-bylaws/tree/master/board just so we have it online somewhere!

[2022-03-14 15:11] joostschouppe opened #160 "Add Toerisme Vlaanderen as corporate member"
In Dutch the alt text should be Toerisme Vlaanderen (https://toerismevlaanderen.be/), in English Visit Flanders (https://www.visitflanders.com)
![State_of_the_art_naked_version](https://user-images.githubusercontent.com/10122639/158201581-711a0c1b-aa21-4a86-a1b1-cebc62ad1316.png)
![Vlaanderen-is-toerisme_logo naakt](https://user-images.githubusercontent.com/10122639/158201585-2cc6148c-1990-42e8-94

[2022-03-16 19:31] jbelien commented on #160
Ready in #160 but there are 2 "issues":

- There is no logic for handling different information about a corporate member depending on the language ; so I used Toerisme Vlaanderen
- We need a lighter version of the logo to display on the dark background (see below)

![image](https://user-images.githubusercontent.com/1150563/158674883-db01765b-dd4d-4d40-a6ad-d56b9f313c6f.png)

[2022-03-17 09:46] joostschouppe commented on #160
I discussed with TV. They prefer "always English" to "always Dutch". Here are a JPG and a PNG that should work on a dark background: https://user-images.githubusercontent.com/10122639/158782080-e6c68c93-c661-4fd5-a5de-6c4c9da2d6b2.jpg  https://user-images.githubusercontent.com/10122639/158782076-89417be1-2f11-4e4c-9576-3c0da631dc47.png

[2022-03-17 13:48] pietervdvn opened #163 "Subscribing to the newsletter is hard"
The link to the newsletter is pretty hidden on the website. It deserves a more prominent place, e.g. in the 'contact'-section and/or the footer.

[2022-03-19 15:46] #160 closed

[2022-04-07 14:26] joostschouppe opened #170 "Check the use of OSM Belgium vs OSM België and OSM Belgique"
There are some inconsistencies

[2022-10-07 15:34] #170 closed

[2022-10-07 15:53] joostschouppe commented on #163
Added to the community index, so shows up now

Suggest we add to the footer of the page, below the OKBE logo:

[Subscribe](https://members.osm.be/subscribe/newsletter) to our quarterly newsletter ([archive](https://us13.campaign-archive.com/home/?u=cc6632a49e784f67574e50269&id=5c2416bba6))
[Schrijf je in](https://members.osm.be/subscribe/newsletter
) voor onze driemaandelijkse nieuwsbrief ([archie

[2022-11-04 08:31] joostschouppe opened #234 "Update TomTom logo"
![TomTom-logo-RGB_lockup](https://user-images.githubusercontent.com/10122639/199927926-a742c386-6142-4579-a752-190aadab73b2.png)
![TomTom-logo-RGB_lockup-diap](https://user-images.githubusercontent.com/10122639/199927932-c622359b-2832-4cac-8f92-547d094682e2.png)

[2022-11-05 17:55] #234 closed

[2022-11-18 16:19] jbelien opened #235 "Add link to Top mapping tasks wiki page on the project page"
Add little paragraph on <https://openstreetmap.be/en/projects.html> that mentions the <https://wiki.openstreetmap.org/wiki/WikiProject_Belgium/top_mapping_tasks>

[2022-11-19 14:17] joostschouppe opened #237 "Use a different "community" image in a few places"
The main image should *not* be changed, but if there are other places that could use a group image, this one would be good:

![20220429_171957](https://user-images.githubusercontent.com/10122639/202855054-90ed00d2-4326-49d0-a5bb-e6c2dc7969c7.jpg)

[2022-11-27 09:14] jbelien commented on #235
See https://github.com/osmbe/community_planning/issues/42